.filebrowser { border: 1px solid black; width:calc(50% - 4px); height: calc(100% - 40px); display: inline-block;}
.left { left: 0px; }
.right { right: 0px; }
.commands { width: 100%; text-align: center; }